* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Game Grid */
div.grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.cell {
  width: calc(100% / 18);
  height: calc(100% / 18);
}
