* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Game Grid */
.grid {
  display: flex;
  flex-direction: wrap;
  width: 500px;
  height: 500px;
  color: white;
}

.cell {
  width: 5.5555555556%;
  height: 5.5555555556%;
}
